@using HFAN.Web.Models
@{
    ViewData["Title"] = "Customer Applications";
}

@model IEnumerable<HFAN.Web.Models.CustomerApplicationModel>

@if (Model != null && Model.Any())
{
    <table>
        <tr><td>Application Id</td><td>Customer Id</td></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ApplicationId</td><td>@item.CustomerId</td>
        </tr>
    }
    </table>
}
